<div style="background-color: var(--body-color); padding: 20px;">
  <div style="display: flex; align-items: flex-start; margin-bottom: 0;">
    <div class="contact-header-icon" style="flex: 0 0 auto; margin-right: 10px;">
      <i class="bi bi-search" aria-label="search"></i>
    </div>
    <div style="flex: 1 1 0; margin-bottom: 0;">
      <p style="font-weight: 500; margin-bottom: 0;">Interested in using this database for your research?</p>
      <p style="margin-bottom: 0; font-size: 80% !important;">
        Please note that more recent versions of this database may be available internally.
        If you require more recent data or want to discuss your research ideas, please contact us at
        <a href="mailto:metapsy@vu.nl" target="_blank">
          metapsy@vu.nl↗</a>.
      </p>
      </p>
    </div>
  </div>
</div>