<div style="background-color: var(--body-color); padding: 20px;">
  <div style="display: flex; align-items: flex-start; margin-bottom: 0;">
    <div class="contact-header-icon" style="flex: 0 0 auto; margin-right: 10px;">
      <i class="bi bi-search" aria-label="search"></i>
    </div>
    <div style="flex: 1 1 0; margin-bottom: 0;">
      <p style="font-weight: 500; margin-bottom: 0;">Looking for a database that is not listed here?</p>
      <p style="margin-bottom: 0; font-size: 80% !important;">
        Not all Metapsy databases have been publicly released on <a href="https://www.metapsy.org" target="_blank" rel="noopener">metapsy.org</a> so far.
        It is also possible that more recent versions of public databases are available internally.
        If you are looking for a specific database or a more recent version, please contact us at
        <a href="mailto:metapsy@vu.nl" target="_blank">
          metapsy@vu.nl↗</a>.
      </p>
    </div>
  </div>
</div>
