<span id="ph-doi"></span>

<span id="spinner-ph-doi" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderDoi(){for(;!isDataSaved();)await new Promise(e=>setTimeout(e,1e3));var e=JSON.parse(sessionStorage.getItem("apiResponse")),n=!0;for(let i=0;i<e.length;i++){var t=e[i].conceptdoi?.toString()||"";if((t=JSON.stringify(t))===JSON.stringify("{{.Get `doi`}}")&&!0===n){let r=e[i].links.parent_doi;latestVersion=document.createTextNode(r),document.getElementById("spinner-ph-doi").style.display="none";var d=document.getElementById("ph-doi");d.id=d.id+"-"+randID,d.appendChild(latestVersion),n=!1}}}renderDoi();
</script>