<span id="ph-last-updated"></span>
<script>
  // random id generator function
  function makeid(length) {
    var result = "";
    var characters =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }
  var randID = makeid(10);

  // get api response if not in sessions storage
  if (sessionStorage.getItem("apiResponse") === null) {
    async function fetchData() {
      let response = await fetch(
        "https://zenodo.org/api/deposit/depositions?" +
          "access_token=Bounk4ySHPIYxrFMWN49jyenJZ1Uy6tBhico7tuZ3iW6cp1hJ3m9FIY6HcvX" +
          "&all_versions=1&size=10000"
      );
      let data = await response.json();
      data = JSON.stringify(data);
      data = JSON.parse(data);
      return data;
    }
    async function saveApiResponse() {
      let data = await fetchData();
      sessionStorage.setItem("apiResponse", JSON.stringify(data));
      var post = data;

      // Run function code
      // loop through all elements
      var firstItem = true;
      for (let i = 0; i < post.length; i++) {
        var searchDOI = post[i].conceptdoi?.toString() || "";
        searchDOI = JSON.stringify(searchDOI);
        var inputDOI = JSON.stringify("{{.Get `doi`}}");

        // if DOI fits, do operation
        if (searchDOI === inputDOI) {
          if (firstItem === true) {
            const months = [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December",
            ];
            const d = new Date(post[i].modified);
            const month = months[d.getMonth()];
            const year = d.getFullYear();
            const day = d.getDate();
            modDate = document.createTextNode(month + " " + day + ", " + year);
            var div = document.getElementById("ph-last-updated");
            div.id = div.id + "-" + randID;
            div.appendChild(modDate);
            firstItem = false;
          }
        }
      }
    }
    saveApiResponse();
  } else {
    // Retrieve from session storage
    var post = JSON.parse(sessionStorage.getItem("apiResponse"));
    // loop through all elements
    var firstItem = true;
    for (let i = 0; i < post.length; i++) {
      var searchDOI = post[i].conceptdoi?.toString() || "";
      searchDOI = JSON.stringify(searchDOI);
      var inputDOI = JSON.stringify("{{.Get `doi`}}");

      // if DOI fits, do operation
      if (searchDOI === inputDOI) {
        if (firstItem === true) {
          const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];
          const d = new Date(post[i].modified);
          const month = months[d.getMonth()];
          const year = d.getFullYear();
          const day = d.getDate();
          modDate = document.createTextNode(month + " " + day + ", " + year);
          var div = document.getElementById("ph-last-updated");
          div.id = div.id + "-" + randID;
          div.appendChild(modDate);
          firstItem = false;
        }
      }
    }
  }
</script>
