<span id="ph-badge"></span>

<span id="spinner-ph-badge" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderBadge(){for(;!isDataSaved();)await new Promise(e=>setTimeout(e,1e3));var e=JSON.parse(sessionStorage.getItem("apiResponse")),t=!0;for(let i=0;i<e.length;i++){var n=e[i].conceptdoi?.toString()||"";if((n=JSON.stringify(n))===JSON.stringify("{{.Get `doi`}}")&&!0===t){var a="https://img.shields.io/badge/DOI-"+e[i].conceptdoi+"-blue",r=e[i].links.parent_doi,d=document.createElement("img"),s=document.createElement("a");s.setAttribute("href",r),s.setAttribute("target","blank"),d.setAttribute("src",a),document.getElementById("spinner-ph-badge").style.display="none";var l=document.getElementById("ph-badge");l.id=l.id+"-"+randID,d.style.maxWidth="unset !important",d.style.height="unset !important",d.style.padding=0,d.style.margin=0,d.style.display="inline",s.appendChild(d),l.appendChild(s),t=!1}}}renderBadge();
</script>
