<span id="ph-version"></span>

<span id="spinner-ph-version" class="loader-spinner spinner-ph-version"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderVersion(){for(;!isDataSaved();)console.log("waiting"),await new Promise(e=>setTimeout(e,1e3));var e=JSON.parse(sessionStorage.getItem("apiResponse")),n=!0;for(let t=0;t<e.length;t++){var r=e[t].conceptdoi?.toString()||"";if((r=JSON.stringify(r))===JSON.stringify("{{.Get `doi`}}")&&!0===n){let i=e[t].metadata.version;latestVersion=document.createTextNode(i);for(let a=0;a<document.getElementsByClassName("spinner-ph-version").length;a++)document.getElementsByClassName("spinner-ph-version")[a].style.display="none";var s=document.getElementById("ph-version");s.id=s.id+"-"+randID,s.appendChild(latestVersion),n=!1}}}renderVersion();
</script>
