<span id="ph-number-studies"></span>

<span id="spinner-ph-number-studies" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderNumberStudies(){for(;!isDataSaved();)await new Promise(e=>setTimeout(e,1e3));var e=JSON.parse(sessionStorage.getItem("apiResponse")),t=!0;for(let n=0;n<e.length;n++){var i=e[n].conceptdoi?.toString()||"";if((i=JSON.stringify(i))===JSON.stringify("{{.Get `doi`}}")&&!0===t){var r,s=e[n].metadata.related_identifiers[0].identifier;fetch("https://raw.githubusercontent.com/metapsy-project/"+s.split("/")[4]+"/"+s.split("/")[6]+"/metadata/number_studies.txt").then(e=>e.text()).then(e=>{document.getElementById("spinner-ph-number-studies").style.display="none";var t=document.getElementById("ph-number-studies");t.id=t.id+"-"+randID,t.innerHTML=e}),t=!1}}}renderNumberStudies();
</script>