<span id="ph-shorthand"></span>

<span id="spinner-ph-shorthand" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderShorthand(){for(;!isDataSaved();)await new Promise(t=>setTimeout(t,1e3));var t=JSON.parse(sessionStorage.getItem("apiResponse")),e=!0;for(let n=0;n<t.length;n++){var r=t[n].conceptdoi?.toString()||"";if((r=JSON.stringify(r))===JSON.stringify("{{.Get `doi`}}")&&!0===e){var a,i=t[n].metadata.related_identifiers[0].identifier;fetch("https://raw.githubusercontent.com/metapsy-project/"+i.split("/")[4]+"/"+i.split("/")[6]+"/metadata/shorthand.txt").then(t=>t.text()).then(t=>{document.getElementById("spinner-ph-shorthand").style.display="none";var e=document.getElementById("ph-shorthand");e.id=e.id+"-"+randID,e.innerHTML="<code>"+t+"</code>"}),e=!1}}}renderShorthand();
</script>