<span id="ph-registration"></span>
<script>
  // random id generator function
  function makeid(length) {
    var result = "";
    var characters =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }
  var randID = makeid(10);

  // fetch zenodo API entries
  fetch(
    "https://zenodo.org/api/deposit/depositions?" +
      "access_token=Bounk4ySHPIYxrFMWN49jyenJZ1Uy6tBhico7tuZ3iW6cp1hJ3m9FIY6HcvX"
  )
    .then((data) => {
      return data.json();
    })
    .then((post) => {
      // loop through all elements
      for (let i = 0; i < post.length; i++) {
        var searchDOI = post[i].conceptdoi?.toString() || "";
        searchDOI = JSON.stringify(searchDOI);
        var inputDOI = JSON.stringify("{{.Get `doi`}}");

        // if DOI fits, do operation
        if (searchDOI === inputDOI) {
          var ghLink = post[i].metadata.related_identifiers[0].identifier;
          var repoName = ghLink.split("/")[4];
          var repoVersion = ghLink.split("/")[6];
          var readLink =
            "https://raw.githubusercontent.com/metapsy-project/" +
            repoName +
            "/" +
            repoVersion +
            "/metadata/" +
            "registration" +
            ".txt";
          fetch(readLink)
            .then((d) => d.text())
            .then((d) => {
              var href = d;
              var links = document.createElement("a");
              links.innerText = "{{.Get `text`}}";
              links.setAttribute("href", href);
              links.setAttribute("target", "blank");
              var div = document.getElementById("ph-registration");
              div.id = div.id + "-" + randID;
              links.setAttribute("style", "color: unset !important");
              div.appendChild(links);
            });
        }
      }
    });
</script>
