<button
  type="button"
  class="btn btn-default dropdown-toggle download-btn"
  data-toggle="dropdown"
>
  <i class="ti-download"></i>&nbsp;&nbsp;Download .CSV
  <span class="caret"></span>
</button>
<ul class="dropdown-menu scrollable-menu" role="menu" id="ph-download">
  <span id="spinner-ph-doi2" class="loader-spinner"></span>
</ul>

<style>
  .loader-spinner { width: 20px; height: 20px; margin-left: 5px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
      border-bottom-color: transparent; border-radius: 50%; display: inline-block;
      box-sizing: border-box; animation: rotation 1s linear infinite;}
      @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
  </style>

<script defer>
  var randID = makeid(10);

  // main rendering function
  async function renderDownload() {

    while (!isDataSaved()) {
      await new Promise(resolve => setTimeout(resolve, 1000)); // Adjust the delay as needed
    }

    /*            
      render element
    */
    var post = JSON.parse(sessionStorage.getItem("apiResponse"));
    var html = "";
    var first = true;
    // loop through all elements
    for (let i = 0; i < post.length; i++) {
      var searchDOI = post[i].conceptdoi?.toString() || "";
      searchDOI = JSON.stringify(searchDOI);
      var inputDOI = JSON.stringify("{{.Get `doi`}}");

      if (searchDOI === inputDOI) {
        // get last modified date
        const months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        const d = new Date(post[i].created);
        const month = months[d.getMonth()];
        const year = d.getFullYear();
        const day = d.getDate();
        modDate = month + " " + day + ", " + year;

        // get zenodo DOI badge
        var badgeUrl = post[i].links.badge;
        var href = post[i].links.doi;
        if (first === true) {
          var insertText =
            '<li><a onclick="downloadData(' +
            "'" +
            post[i].metadata.version +
            "'" +
            ')"><strong> Version ' +
            post[i].metadata.version +
            "</strong> (" +
            String(modDate) +
            "; latest)</a></li>";
          html = html + insertText;
          var first = false;
        } else {
          var insertText =
            '<li><a onclick="downloadData(' +
            "'" +
            post[i].metadata.version +
            "'" +
            ')"><strong> Version ' +
            post[i].metadata.version +
            "</strong> (" +
            String(modDate) +
            ")</a></li>";
          html = html + insertText;
        }
      }
    }
    var div = document.getElementById("ph-download");
    div.id = randID;
    div.innerHTML = html;

  }

  // execute
  renderDownload();
</script>