<span id="ph-last-updated-year"></span>

<span id="spinner-ph-last-updated-year" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderLastUpdatedYear(){for(;!isDataSaved();)await new Promise(e=>setTimeout(e,1e3));var e=JSON.parse(sessionStorage.getItem("apiResponse")),t=!0;for(let a=0;a<e.length;a++){var d=e[a].conceptdoi?.toString()||"";if((d=JSON.stringify(d))===JSON.stringify("{{.Get `doi`}}")&&!0===t){let r=new Date(e[a].modified),n=r.getFullYear();modDate=document.createTextNode("("+n+")"),document.getElementById("spinner-ph-last-updated-year").style.display="none";var i=document.getElementById("ph-last-updated-year");i.id=i.id+"-"+randID,i.appendChild(modDate),t=!1}}}renderLastUpdatedYear();
</script>
