<span id="ph-search-string"></span>

<span id="spinner-ph-search-string" class="loader-spinner"></span>
<style>
.loader-spinner { width: 20px; height: 20px; margin-bottom: -5px; border: 2px solid rgb(133, 133, 133);
    border-bottom-color: transparent; border-radius: 50%; display: inline-block;
    box-sizing: border-box; animation: rotation 1s linear infinite;}
    @keyframes rotation {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}} 
</style>

<script defer>
var randID=makeid(10);async function renderSearchString(){for(;!isDataSaved();)await new Promise(t=>setTimeout(t,1e3));var t=JSON.parse(sessionStorage.getItem("apiResponse")),e=!0;for(let r=0;r<t.length;r++){var n=t[r].conceptdoi?.toString()||"";if((n=JSON.stringify(n))===JSON.stringify("{{.Get `doi`}}")&&!0===e){var i,a=t[r].metadata.related_identifiers[0].identifier,s="https://raw.githubusercontent.com/metapsy-project/"+a.split("/")[4]+"/"+a.split("/")[6]+"/metadata/search_string.txt",d=document.createElement("a"),p=s;d.innerText="{{.Get `text`}}",d.setAttribute("href",p),d.setAttribute("target","blank"),document.getElementById("spinner-ph-search-string").style.display="none";var g=document.getElementById("ph-search-string");g.id=g.id+"-"+randID,g.appendChild(d),e=!1}}}renderSearchString();
</script>