@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.theme-light {
    --primary-color: #313f45 !important;
    --body-color: #f9f9f9 !important;
    --text-color: #636363 !important;
    --text-color-dark: #242738 !important;
    --white-color: #ffffff !important;
    --light-color: #f8f9fa !important;
    --code-bg-color: #f6f6f6 !important;
    --color-table: #f8f8f8 !important;
    --hr-color: rgba(0,0,0,.1) !important;
    --header-color: rgba(94, 186, 189, 1) !important;
    --col-shadow-1: rgba(12, 13, 14, 0.1) !important;
    --col-shadow-2: rgba(255, 255, 255, 0.1) !important;
    --bg-image: url("https://docs.metapsy.org/images/banner.jpg");
    --bs-dark2: #313f45;
    --bs-primary: #0372b7;
    --bs-secondary: #6c757d;
    --bs-info: rgba(94, 186, 189, 1);
    --bs-gradient2: linear-gradient(90deg, rgba(94, 186, 189, 1), rgba(3, 114, 183, 1));
    --color-tip: #e6f9e6 !important;
    --color-tip-above: #78c578;
}

.theme-dark {
    --primary-color: #9ecce0 !important;
    --body-color: #313f45 !important;
    --text-color: #ffffff !important;
    --text-color-dark: #f8f9fa !important;
    --white-color: #222d32 !important;
    --light-color: #222d32 !important;
    --code-bg-color: #313f45 !important;
    --hr-color: rgba(255, 255, 255, 0.1) !important;
    --color-table: #313f45 !important;
    --header-color: #222d32 !important;
    --bg-image: revert !important;
    --col-shadow-1: rgba(233, 236, 240, 0.1) !important;
    --col-shadow-2: rgba(244, 240, 240, 0.1) !important;
    --bs-dark2: #636363;
    --bs-primary: #069cf9;
    --bs-secondary: #a8b6c3;
    --bs-info: rgba(94, 186, 189, 1);
    --bs-gradient2: linear-gradient(90deg, rgba(94, 186, 189, 1), rgba(3, 114, 183, 1));
    --color-tip: #313f45 !important;
    --color-tip-above: rgba(94, 186, 189, 1);
}


h1, h2, h3 {
    font-family: "Roboto Slab" !important;
}

.text-white.mb-3{
    color: var(--header-color) !important;
}

#title {
    color: var(--bs-primary) !important;
}

.section-title {
    color: var(--bs-primary) !important;
    display: none;
}

p {
    font-size: 18px !important;
}

ul {
    font-size: 18px !important;
    text-align: left !important;
}

.navbar-brand {
    font-family: "Lexend Tera" !important;
}

.bi-github {
    font-size: 25px;
}

.bi-github:hover {
    color: var(--bs-info) !important;
}

#gh-logo {
    margin-top: -10px !important;
}

#gh-logo.nav-item:hover {
    color: var(--bs-info) !important;
}

ul .nav-item gh-logo-container.nav-item:hover {
    color: var(--bs-info) !important;
}

.nav-item:hover {
    color: var(--bs-info) !important;
}

.nav-link.text-dark:hover {
    color: var(--bs-info) !important;
}

.d-md-block {
    color: var(--primary-color) !important;
    transition: .2s ease;
}

.d-md-block:hover {
    color: var(--bs-info) !important;
    transition: .2s ease;
}

div#content a:link {
    color: var(--bs-primary) !important;
}

a.nav-next:hover>i {
    color: var(--bs-info) !important;
}

a.nav-prev:hover>i {
    color: var(--bs-info) !important;
}

.dropdown-menu>a {
    color: var(--primary-color) !important;
}

.dropdown-item:hover {
    color: var(--bs-info) !important;
}

a {
    color: var(--bs-primary) !important;
}

a.navbar-brand {
    color: var(--text-color-dark) !important;
}

li.sidelist>a {
    color: var(--primary-color) !important;
}

div#content a:hover {
    color: var(--bs-info) !important;
}

.nav-item.active {
    background-color: #f9f9f9 !important;
}

.sidebar {
    top: 150px !important;
}

button:hover {
    background-color: var(--bs-primary) !important;
}

ul {
    margin-bottom: 0px !important;
}

div.gallery {
    display: inline-block;
}

div.logo-gallery {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    float: left;
    width: 80px;
    height: 80px;
    display: inline-block;
    justify-content: center;
    position: relative;
}
  
div.logo-gallery img {
    width: 100%;
    height: auto;
    margin: 15px;
    justify-content: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

i.ti-home:hover{
    color: var(--bs-info) !important;
}

a.nav-link:hover > i {
    color: var(--bs-info) !important;
}

li.nav-item:hover > i {
    color: var(--bs-info) !important;
}

code {
    color: unset !important;
    font-size: 87% !important;
    background-color: var(--code-bg-color);
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--hr-color) !important;
}

tbody {
    background-color: var(--color-table) !important;
}

.ti-search{
    color: var(--bs-secondary) !important;
}

header.banner.overlay.bg-cover {
    background-image: var(--bg-image) !important;
    background-color: rgba(0, 0, 0, 1) !important;
    color: black !important;
}

.shadow-bottom {
}

.ti-shine:visited {
    color: red !important;
}

#strip {
    background-image: var(--bs-gradient2) !important;
}

td > code {
    padding: 0 !important;   
}

.notices.tip p {
    border-top: 30px solid var(--color-tip-above) !important;
    background: var(--color-tip) !important;
}

.notices.info p {
    border-top: 30px solid var(--color-tip-above) !important;
    background: var(--color-tip) !important;
}

.scrollable-menu {
    height: auto;
    max-height: 125px;
    overflow-x: hidden;
    width: 350px;
    background-color: var(--body-color) !important;
    border-radius: 0 !important;
    font-size: 15px !important;
    margin: 0px !important;
    margin-top: 5px !important;
}

.scrollable-menu > li::before {
    display: none;
}

.download-btn {
    background-color: var(--bs-primary);
    color: var(--body-color);
}

.expand-btn {
    background-color: var(--bs-text);
    color: var(--text-color);
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important; 
}
.expand-btn:hover {
    color: var(--bs-primary) !important;
    background-color: var(--bs-text) !important;
}

.card-body {
    background-color: var(--body-color) !important;
    padding: 0rem !important;
}

.overlay::before {
    top: 10px !important;
}

.section.text-center.pb-0 {
    margin-bottom: -30px;
}

header.banner #documentationText {
    display: none;
}

@media only screen and (max-width: 800px) {
    #documentationText{ display: none !important; }
    #flow-svg {
       height: 250px !important;
    }
 }

 ::-moz-selection { /* Code for Firefox */
    background: #ACCEF7 !important;
    color: revert !important;
  }
  
  ::selection {
    background: #ACCEF7 !important;
    color: revert !important;
  }

  .citation {
    line-height: 200%;
  }
  
header.shadow-bottom.sticky-top.bg-white {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #222d32 !important;
    box-shadow: 0 0px rgba(12,13,14,1),0 1px 6px rgba(59,64,69,1) !important;
}

header.banner.overlay.bg-cover > #strip {
    margin-top: 0px !important;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

a.nav-link.dropdown-toggle.text-dark {
    color: white !important;
}

#content {
    box-shadow: 0 0px rgba(12,13,14,1),0 1px 6px 3px rgba(59,64,69,0.12) !important;
}

.sidebar {
    box-shadow: 0 0px rgba(12,13,14,1),0 1px 6px 3px rgba(59,64,69,0.05) !important;
}

.col-lg-3 > .sidebar {
    overflow-y: scroll;
    max-height: 500px;
}

/* Tooltip container */
.tooltip {
    position: relative;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

